<form action="./room" id="signUpForm" method="post" role="form" enctype="application/x-www-form-urlencoded">
    <div class="alert alert-primary text-center" role="alert">
      Create a Room
    </div>
    <div class="mb-3">
        <label for="room" class="form-label"></label>
        <input type="text" class="form-control" id="room" name="room" placeholder="Room">
    </div>
    <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary">Create Room</button>
    </div>
</form>